@tailwind base;
@tailwind components;
@tailwind utilities;

.isCurrent{
    background-color: black;
}

.activeElement:active{
    background-color: #F64040;
    color : white;
    box-shadow: 0px 1px 8px 0.1px rgba(255, 112, 112, 1);
}


.pseudoActiveElement{
    color: white;
    background-color: #F64040;
    box-shadow: 0px 1px 8px 0.1px rgba(255, 112, 112, 1);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}