@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    #leftButton {
        background-color: white;
        color: #34d399;
    }

    #rightButton {
        background-color: #34d399;
        color: white;
    }

    .menuButton {
        border: 2px solid #34d399;
        display: inline-block;
        text-align: center;
        border-radius: 8px;
        padding: 12px 28px;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
}